# Environnements virtuels
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log

# Variables d'environnement
.env

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db